@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("../public/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../public/fonts/Pretendard-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("../public/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../public/fonts/Pretendard-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../public/fonts/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Pretendard";
  overflow-x: hidden;
  /* background: #222; */
  scrollbar-gutter: stable both-edges;
}